*{
  margin: 0;
  padding: 0;
}
@font-face {
      font-family: "AvenirNextLTPro";
      src: url("fonts/AvenirNextLTPro-Regular.otf") format("opentype");
    }
#indexHd{
  height: 7vh;
  background-color: #9B9B8C;
}
#scdpghd{
  height: 18vh;
  background-color: #9B9B8C;
  font-size: 1.9em;
}
#scdpgfnt{
  font-family: "AvenirNextLTPro",sans-serif;
  color:#EEEEEE;
  padding: 7% 0 0 4%;
}
#container1{

  height: 86vh;
  width: 100%;
}
#container2{
  height: 75vh;
  width: 100%;
}
#ind40{
  float: left;
  height: 100%;
  width: 50%;
}
#wordTrack{
  font-family: "AvenirNextLTPro",sans-serif;
  font-size: 3.2em;
  color: indigo;
  font-style: bold;
  margin: 34% 0 0 35%;
}
#indBtn{
  font-family: "AvenirNextLTPro",sans-serif;
  font-size: .4em;
  color:#EEEEEE;
  border-radius: 8px;
  height: 5.6vh;
  width: 25.5vh;
  background-color: #353526;
}
#ind60{
  position: relative;
  float: right;
  width: 50%;
  height: 100%;
  background-image: url(resources/track.jpg);
  background-size: cover;
  z-index: -1;
  opacity: 0.4;
}
#indexFtr{
  height: 7vh;
  background-color: #686859;
  font-size: 1.6em;
}
#footerFont{
  padding-top: 1%;
  padding-left: 2%;
  font-family: "AvenirNextLTPro",sans-serif;
  color:#EEEEEE;
}
#box{
 overflow: scroll;
 font-family: "AvenirNextLTPro", serif;
 background-color: #EEEEEE;
 height: 26vh;
 width: 88vw;
 border: 2px solid black;
 margin: 1% 0 0 6%;
}
#clearTracks{
    position: relative;
    font-family: "AvenirNextLTPro",sans-serif;
    font-size: 1.4em;
    color:#EEEEEE;
    border-radius: 8px;
    height: 5.6vh;
    width: 25.5vh;
    background-color: #353526;
}
#submitButt{
    position: relative;
    font-family: "AvenirNextLTPro",sans-serif;
    font-size: 1.4em;
    color:#EEEEEE;
    border-radius: 8px;
    height: 5.6vh;
    width: 25.5vh;
    background-color: #353526;
}
#buttDiv{
  padding: 1% 0 0 10%;
}
.pic-container{

  width: 100%;
  height: 18vh;
}
.pic-row{
  overflow: scroll;
  margin: 0 10% 0 17%;
}
.imgIndx{

}
#imgIndx1{
  position: absolute;
  max-height: 27vh;
  max-width: 25vw;
  width: auto;
  height: auto;
  margin: .5% 0 0 18%;
}
#imgIndx2{
  position: absolute;
  max-height: 27vh;
  max-width: 25vw;
  width: auto;
  height: auto;
  margin: 17% 0 0 18%;
}
#imgIndx3{
  position: absolute;
  max-height: 27vh;
  max-width: 25vw;
  width: auto;
  height: auto;
  margin: 33% 0 0 18%;
}
section{
  width:100%;
  margin: 0 auto;
  white-space:nowrap;
  overflow: scroll;
}
.firstpgimg{
  max-height: 15.5vh;
  max-width: 8.5vw;
  height: auto;
  width: auto;
  margin-top: 1%;
  margin-right: 2.5%;
}
